.recipe-list {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 5% 2%;
    margin-top: 15%;
    margin-bottom: 15%;
}

.info-box {
    width: 100%;
}

@media screen and (min-width: 500px) {
    .recipe-list {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

@media screen and (min-width: 700px) {
    .recipe-list {
        margin-top: 7%;
        margin-bottom: 7%;
        flex-direction: row;
    }
}

@media screen and (min-width: 900px) {
    .recipe-list {
        padding: 3% 1%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 1200px) {
    .recipe-list {
        padding: 3% 1%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 1400px) {
    .recipe-list {
        padding: 2% 1%;
        margin-top: 3%;
        margin-bottom: 3%;
    }
}

@media screen and (min-width: 1900px) {
    .recipe-list {
        margin-top: 2%;
        margin-bottom: 2%;
    }
}