.recipe-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.info-box {
    width: 100%;
}

@media screen and (min-width: 20em) {
    .recipe-list {
        flex-direction: row;
    }
}