.form-button {
    width: 100%;
    padding: 3% 2%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 1rem;
}

.form-button:hover {
    cursor: pointer;
}

.form-button[disabled]:hover {
    cursor: not-allowed;
}