.input-field {
    position: relative;
}

#label-text {
    position: absolute;
    top: 3%;
    left: 2%;
    display: inline-block;
    padding: 3% 2%;
    font-size: 1rem;
    background-color: transparent;
    color: darkgray;
    transition: all 0.3s;
}

.form-input {
    width: 100%;
    padding: 3%;
    border-width: 2px;
    border-style: solid;
    border-color: darkgray;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color .3s;
}

.form-input::placeholder {
    opacity: 0;
}

.form-input:focus {
    outline: none;
    border-color: black;
}

.form-input.invalid {
    border-color: red;
}

.form-input:focus ~ #label-text,
.form-input:not(:placeholder-shown) ~ #label-text {
    top: -25%;
    padding: 1%;
    font-size: .7rem;
    background-color: white;
    color: black;
}

.form-input.invalid:focus ~ #label-text,
.form-input.invalid:not(:placeholder-shown) ~ #label-text {
    color: red;
}

.error-message {
    display: block;
    width: 100%;
    padding: 1%;
    margin: 0;
    font-size: .75rem;
    text-align: left;
    color: red;
    background-color: transparent;
}