#label-text {
    position: absolute;
    top: 3%;
    left: 2%;
    display: inline-block;
    padding: 3% 2%;
    font-size: 1rem;
    background-color: transparent;
    transition: all 0.3s;
}

.form-input {
    width: 100%;
    padding: 3%;
    border-width: 2px;
    border-style: solid;
    border-color: darkgray;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color .3s;
}

.form-input:focus {
    outline: none;
    border-color: black;
}

.form-input:focus ~ #label-text,
.form-input:not(:placeholder-shown) ~ #label-text {
    top: -25%;
    padding: 1%;
    font-size: .7rem;
    background-color: white;
}

.form-input::placeholder {
    opacity: 0;
}

.form-input:required:not(:focus):not(:placeholder-shown):invalid {
    border-color: red;
}

.form-input:required:not(:focus):not(:placeholder-shown):valid {
    border-color: green;
}

.info-icon {
    position: absolute;
    top: 0;
    right: 2%;
    display: inline-block;
    padding: 3% 2%;
    font-style: normal;
    font-size: 1.1rem;
    font-weight: bold;
}

.info-icon {
    display: none;
}

.info-icon:hover {
    cursor: pointer;
}

.error-message {
    position: absolute;
    bottom: 100%;
    left: 50%;
    display: none;
    width: 80%;
    padding: 2%;
    border: 2px solid black;
    border-radius: 5px;
    font-size: .8rem;
    color: black;
    background-color: pink;
}

.error-message::before {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-color: transparent;
    border-top-color: black;
    border-style: solid;
}

.form-input:required:not(:placeholder-shown):invalid ~ .info-icon {
    display: inline-block;
    color: red;
}

.form-input:required:not(:placeholder-shown):valid ~ .info-icon {
    display: inline-block;
    color: green;
}

.form-input:required:not(:placeholder-shown):invalid ~ .info-icon:hover ~ .error-message {
    display: block;
}

.form-input:required:not(:placeholder-shown):valid ~ .info-icon:hover ~ .error-message {
    display: block;
}

/* .info-icon:hover ~ .error-message {
    display: block;
} */