.input-field {
    position: relative;
}

#label-text {
    position: absolute;
    top: 3%;
    left: 2%;
    display: inline-block;
    padding: 3% 2%;
    font-size: 1rem;
    background-color: transparent;
    color: darkgray;
    transition: all 0.3s;
}

.form-input {
    width: 100%;
    padding: 3%;
    border-width: 2px;
    border-style: solid;
    border-color: darkgray;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color .3s;
}

.form-input::placeholder {
    opacity: 0;
}

.form-input:focus {
    outline: none;
    border-color: black;
}

.form-input:focus ~ #label-text,
.form-input:not(:placeholder-shown) ~ #label-text {
    top: -25%;
    padding: 1%;
    font-size: .7rem;
    background-color: white;
    color: black;
}

.invalid {
    border-color: red;
}

.valid {
    border-color: green;
}

.info-icon {
    position: absolute;
    top: 0;
    right: 2%;
    display: inline-block;
    padding: 3% 2%;
    font-style: normal;
    font-size: 1.1rem;
    font-weight: bold;
}

.info-icon::after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    display: block;
    width: 80%;
    padding: 2%;
    border: 2px solid black;
    border-radius: 5px;
    font-size: .8rem;
    color: black;
    background-color: pink;
}

.info-icon::after {
    display: none;
}

.info-icon:hover {
    cursor: pointer;
}

.info-icon:hover ~ .info-icon::after {
    display: block;
}

.info-icon {
    display: none;
}

.error-message {
    position: absolute;
    bottom: 100%;
    left: 50%;
    display: block;
    width: 80%;
    padding: 2%;
    border: 2px solid black;
    border-radius: 5px;
    font-size: .8rem;
    color: black;
    background-color: pink;
}

.error-message::before {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-color: transparent;
    border-top-color: black;
    border-style: solid;
}

.error-message {
    display: none;
}

.invalid ~ .info-icon {
    display: inline-block;
    color: red;
}

.valid ~ .info-icon {
    display: inline-block;
    color: green;
}

.show-message {
    display: block;
}

@media screen and (min-width: 802px) {
    .input-field.invalid ~ .error-message {
        display: block;
        position: static;
        width: 100%;
        background-color: transparent;
        color: red;
        border: none;
        padding: 1%;
        margin: 0;
        text-align: left;
        font-size: .75rem;
    }

    .info-icon:hover {
        cursor: text;
    }
}