@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.site-header-title {
    width: 50%;
    padding: 2%;
    color: orangered;
    font-family: 'Ephesis', cursive;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: left;
}

.toggle-navigation-button {
    width: 100%;
    padding: 2%;
    border: 0;
    background-color: transparent;
    font-size: 1.2rem;
    text-align: right;
    cursor: pointer;
}

.site-navigation {
    width: 50%;
}

.site-navigation-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    background-color: #f0f5f1;
}

.site-navigation-link {
    display: block;
    width: 100%;
    padding: 3%;
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
}

.site-navigation-link:hover {
    color: orangered;
}

.link-active {
    color: orangered;
}

.opened {
    display: flex;
}

.closed {
    display: none;
}

@media screen and (min-width: 930px) {
    .site-header-title {
        width: 30%;
        font-size: 3rem;
    }

    .toggle-navigation-button {
        display: none;
    }

    .site-navigation {
        width: 30%;
        text-align: left;
    }

    .site-navigation-links {
        position: static;
        flex-direction: row;
        height: auto;
        background-color: transparent;
    }

    .site-navigation-link {
        display: inline-block;
        width: auto;
        margin-left: 1%;
        margin-right: 1%;
        border: none;
        font-size: .9rem;
        background-color: transparent;
    }

    .closed {
        display: flex;
    }
}

@media screen and (min-width: 1200px) {
    .site-header-title {
        padding: 1%;
        font-size: 3.5rem;
    }

    .site-navigation {
        padding: 1%;
    }
}