.recipe {
    border: 1px solid black;
    text-align: left;
    font-size: .9rem;
    flex: 0 1 100%;
}

.recipe-image img {
    max-width: 100%;
    object-fit: cover;
}

.recipe-info {
    padding: 2% 3%;
}

.recipe-title {
    text-transform: uppercase;
    margin: 1% 0;
}

.recipe-category {
    margin: 1% 0;
}

.recipe-author {
    margin: 1% 0;
}

.recipe-details-button {
    display: block;
    width: 100%;
    border: 0;
    margin-top: 5%;
    padding: 3% 2%;
    background-color: black;
    color: white;
    text-align: center;
}

@media screen and (min-width: 30em) {
    .recipe {
        flex-basis: calc(50% - 1em);
    }
}

@media screen and (min-width: 52em) {
    .recipe {
        flex-basis: calc(25% - 1em);
    }
}