*, 
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 1%;
	background-color: #f0f5f1;
}

a {
    text-decoration: none;
    color: orangered;
}